* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  max-width: 333px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #F0F0F5;
  border-radius: 8px;

}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
}

div li button {
  margin: 0 0 0 15px;
  background: #ca4949;
  border-radius: 0 8px 8px 0;
}
